
body{
    font-family: Verdana, Arial;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
  }
  
  h1{
    font-size: 48px;
    padding: 15px;
  
  }
  
  h2{
    font-size: 32px;
  }
  
  p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left:15px;
  }
  
  img{
    width: 350px;
    border: 10px black dashed;
  }
